{% extends 'inicio.html' %}
{% load static %}

{% block content %}

   
<div class="yellow_bg">
    <div class="container">
             <div class="row">
                <div class="col-md-12">
                   <div class="title">
                      <h2>Nuestros platos</h2>
                     
                   </div>
                </div>
             </div>
           </div>
 </div>
     <!-- section -->
     <section class="resip_section">
         <div class="container">
             <div class="row">
                
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme">
        
                        <div class="item">
                            <div class="product_blog_img">
                                <img src={% static "images/rs1.png" %} alt="#" />
                            </div>
                            <div class="product_blog_cont">
                                <h3>Completo</h3>
                                <h4><span class="theme_color">$</span>10</h4>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product_blog_img">
                                <img src={% static "images/rs2.png" %} alt="#" />
                            </div>
                            <div class="product_blog_cont">
                                <h3>Chorrillana</h3>
                                <h4><span class="theme_color">$</span>20</h4>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product_blog_img">
                                <img src={% static "images/rs3.png" %} alt="#" />
                            </div>
                            <div class="product_blog_cont">
                                <h3>papas fritas</h3>
                                <h4><span class="theme_color">$</span>30</h4>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product_blog_img">
                                <img src={% static "images/rs4.png" %} alt="#" />
                            </div>
                            <div class="product_blog_cont">
                                <h3>Sushi Dizzy</h3>
                                <h4><span class="theme_color">$</span>40</h4>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product_blog_img">
                                <img src={% static "images/rs5.png" %} alt="#" />
                            </div>
                            <div class="product_blog_cont">
                                <h3>churrascos</h3>
                                <h4><span class="theme_color">$</span>50</h4>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product_blog_img">
                                <img src={% static "images/rs1.png" %} alt="#" />
                            </div>
                            <div class="product_blog_cont">
                                <h3>empanadas</h3>
                                <h4><span class="theme_color">$</span>10</h4>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product_blog_img">
                                <img src={% static "images/rs2.png" %} alt="#" />
                            </div>
                            <div class="product_blog_cont">
                                <h3>Ass italiano</h3>
                                <h4><span class="theme_color">$</span>20</h4>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product_blog_img">
                                <img src={% static "images/rs3.png" %} alt="#" />
                            </div>
                            <div class="product_blog_cont">
                                <h3>Bebidas</h3>
                                <h4><span class="theme_color">$</span>30</h4>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product_blog_img">
                                <img src={% static "images/rs4.png" %} alt="#" />
                            </div>
                            <div class="product_blog_cont">
                                <h3>Chaparritas</h3>
                                <h4><span class="theme_color">$</span>40</h4>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product_blog_img">
                                <img src={% static "images/rs5.png" %} alt="#" />
                            </div>
                            <div class="product_blog_cont">
                                <h3>Desayunos</h3>
                                <h4><span class="theme_color">$</span>50</h4>
                            </div>
                        </div>
        
                    </div>
                </div>
             </div>
             <br>


             <div class="row">
                 <div class="col">
                    <div class="card">
                        <div class="card-body">
                          <center><h2>Tu pedido esta aqui</h2></center>
                        </div>

                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">nombre</th>
                                <th scope="col">precio</th>
                                <th scope="col">cantidad</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>empanada</td>
                                <td>$1000</td>
                                <td>5/td>
                              
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>chaparrita</td>
                                <td>$1000</td>
                                <td>2</td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>papas fritas</td>
                                <td>$1200</td>
                                <td>1</td>
                              </tr>

                              <tr class="table-active">
                                <th scope="row"></th>
                                <td>total</td>
                                <td>$23200</td>
                                <td></td>
                              </tr>
                            </tbody>
                          </table>
                          <div class="row">
                              <div class="col">
                                <label for="">Comentanos</label>
                                <input type="text">
                              </div>
                              
                          </div>
                         

                      </div>
                 </div>
             </div>

             <div class="row justify-content-center">
                 <div class="col center">
                     <button class="btn btn-warning">Pagar</button>
                 </div>


                 <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>
                 
             </div>
         </div>
     </section>
 

    {% endblock %}